body{
  background-color: black;
  
    color:rgb(138, 121, 100);
    font-family:'Times New Roman', Times, serif;

    
}
h1{
    text-align: center;
    font-size: 90px;

}
div{
    text-align: center;
}
h3{
    text-align: center;
}
p{font-size: 30px;
    text-align: right;
    color: beige;

}
p.a{
    font-size: 30px;
    text-align:left;
    color: beige;
}
.b{
    font-size: 20px;
    text-align: left;
    color:rgb(190, 166, 137);

}
table ,td{

    font-size: 25px;
text-align: right;
border: 1px solid;
width: 40%;
height: 50%;
color: beige;
}
#c{
    margin-top: 50px;
    text-align: left;
    border-style: solid;
    border-color:beige;
    width: 30%;
    padding: 8px;
    font-size: 20px;
    
}
p.d{
    text-align: center;
    color: beige;
    font-size: 30px;
}
p.f{

font-size:30px ;
text-align: center;
}
p.m{

font-size: 20px;
text-align: center;
color: rgb(197, 163, 121);
}
.l{
    text-align:center;
    

}

a:link{
    color: whitesmoke;
}

a:visited{
    color:whitesmoke;
}
a:hover{
    color: rgb(112, 84, 6);
}
a:active{
    color: lightskyblue;
}


#com{
    text-align: left;

}
.align{
    float: left;
    width: 30%;
    height: 30%;
    margin-left: 7px;
}
